<!-- templates/detail.html -->
{% extends 'base.html' %}

{% load social_share %}

{% block title %}
    {{ object.title }} - Bookstore
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <img src="{{ object.image.url }}" alt="{{ object.title }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>{{ object.title }}</h2>
            <p><strong>Author:</strong> {{ object.author }}</p>
            <p><strong>Genre:</strong> {{ object.genre }}</p>
            <p><strong>Price:</strong> ${{ object.price }}</p>
            <p><strong>Description:</strong> {{ object.description }}</p>
            
                <form method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name = "add_to_cart" >Add to Cart</button>
                    <button type="submit" class="btn btn-primary" name = "add_to_wishlist" >Add to Wishlist</button>
                </form>
           
            <div class = "col-md-6 mt-4">
                <p >Share on Social Media:</p>
                
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="mx-2" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-facebook-square"></i></a>
                <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20book:%20{{ object.title }}&url={{ request.build_absolute_uri }}" class="mx-2" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter-square"></i></a>
                <a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}&title={{ object.title }}" class="mx-2" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin"></i></a>
            </div>

            <div class = "social-sharing col-md-6 mt-4">
                <h3>Share on Social Media:</h3>
                {% post_to_facebook "Book:{{object.title}} Check it out!" object_or_url "Post to Facebook"%}
                {% post_to_twitter "Book:{{object.title}}. Check it out!" object_or_url %}
                {% post_to_linkedin "Book:{{object.title}}. Check it out!" object_or_url %}
            </div>
            

            
            

        </div>
        
    </div>
    
{% endblock content %}