<!-- templates/cart.html -->
{% extends 'base.html' %}

{% block title %}Bookstore - Shopping Cart{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Shopping Cart</h2>
        <div class="row">
            <!-- Cart items -->
            <!-- Sample cart item -->
            <div class="col-md-8">
                {% if cart_items %}
                {% for item  in cart_items  %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{item.books.image.url}}" class="img-fluid rounded-start" alt="Book Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{item.books.title}}</h5>
                                <p class="card-text">{{item.books.description}}</p>
                                <p class="card-text">Quantity: {{item.quantity}}</p>
                                <p class="card-text"><small class="text-muted">${{item.books.price}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Repeat this structure for more cart items -->
                {% endfor %}
                {% else %}
                    <p>Your cart is empty</p>
                {% endif %}
            </div>
            
            <!-- Cart summary -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cart Summary</h5>
                        <p class="card-text">Total Items: {{total_items}}</p>
                        {% if discounted_price %}
                        <p class="card-text">Previous Price: ${{total_price}}</p>
                        <p class="card-text"><i>Note: After 25% discount (For ordering 5 times)</i> 
                            </p>
                        <p class="card-text">Total Price: ${{discounted_price}}</p>
                        {% else %}
                        <p class="card-text">Total Price: ${{total_price}}</p>
                        {% endif %}

                        

                        <form action="" method="post">
                            {% csrf_token %}
                            
                            <button class="btn btn-success" type="submit">Proceed to Checkout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
